a{
    text-decoration: none;
color: #2c3e50;
}
a:hover{
    color: #2c3e50;
}

.productitem{
    display: flex;
    justify-content: space-around;
    text-align: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 10px;
}

.producttitle{
    width: 200px;
}




.proimg img{
    width: 350px;
    height: 400px;
}
.title h5{
    color: crimson;
}
.producttitle p{
    color: lightskyblue;
}



.add{
    border: none;
    color: white;
    background-color: crimson;
    border-radius: 3px;
}
.procart{
    text-align: start;
    margin-top: 80px;
}
.procart input{
    border: none;
    border: solid black 1px;
outline: none;
}